.padme {

	padding-top: 50px;
	padding-bottom: 30px;
}

.padmebody {

	padding-top: 25px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
}

/** Transaction Card **/
#transaction-card .card-header .card-title {
  padding: 20px;
}
#transaction-card .transaction-card-title {
  margin: 0;
  font-weight: 300;
}

/** Product Card **/

.product-card .card-header .card-title {
  padding: 20px;
}
.product-card .product-card-title {
  margin: 0;
  font-weight: 300;
}
.product-card .product-card-title-small {
  font-size: 1.0rem;
  margin: 0;
}

.product-card .card .card-reveal .card-title {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
}

/*button dashboard */
.btn-move-up {
  position: relative;
  top: -38px;
  right: -220px;
  margin-right: 10px !important;
}

/*Add Information Card */
.add-card .card-header .card-title {
  padding: 20px;
}
.add-card .add-card-title {
  margin: 0;
  font-weight: 300;
}
.add-card .add-card-title-small {
  font-size: 1.0rem;
  margin: 0;
}
.add-card .card-action .space{
	padding:20px;
}

/*Table Card */
.table-card .card-header .card-title {
  padding: 20px;
}
.table-card .table-card-title {
  margin: 0;
  font-weight: 300;
}
.table-card .table-card-title-small {
  font-size: 1.0rem;
  margin: 0;
}
.table-card .card-content .space{
	padding:10px;
}