html, body{
  height: 100%;
}

body { 
	background-image: url('../images/others/background.jpg') ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #34495e;
}

